
tqdm
numpy
pandas
POT
nudged

torch==1.10.0+cu113
torchvision==0.11.1+cu113
torchaudio==0.10.0+cu113

scanpy
louvain
harmonypy
scanorama
squidpy
SpaGCN
dynamo-release

matplotlib
seaborn
pyvista
pythreejs
ipyvtklink
imageio-ffmpeg
scikit-learn
opencv-python

jupyter
